body {
  font-family: Arial;
  background: #f5f5f5;
  text-align: center;
}

.quiz-container {
  background: white;
  width: 90%;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
}

button {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.selected {
  background: green !important;
}

.result-box {
  margin-top: 20px;
  font-weight: bold;
}
