body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #1e3c72, #2a5298);
}

.quiz-container {
  background: white;
  width: 95%;
  max-width: 500px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: bold;
}

.timer-box {
  .timer-box {
  background: #ff7675;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
}

h2 {
  margin: 15px 0;
}

.options-box button {
  width: 100%;
  margin: 6px 0;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: #f2f2f2;
  cursor: pointer;
  transition: 0.2s;
}

.options-box button:hover {
  background: #dbe9ff;
}

.selected {
  background: #5dade2 !important; /* soft blue */
  color: white;
}
}

.primary-btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.secondary-btn {
  width: 48%;
  padding: 10px;
  background: #6c757d;
  color: white;
  border: none;
  border-radius: 8px;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 10px;
}

.result-box {
  background: white;
  width: 95%;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
